body{
    background-image: url('bizland.png');
    height: 13035px;
    width: 1920px;
}
#quick-links{
    height: 60px;
    background-color: #ffa500cc;
}
#header{
    height: 139px;
    background-color: #ffffffba;
}
#welcome{
    height: 451px;
    background-color: #008000e0;
}
#highlights{
    height: 548px;
    background-color: #ffa500d4;
}
#about{
    height: 1220px;
    background-color: #ffffffc4;
}
#skills{
    height: 373px;
    background-color: #008000e0;
}
#statistics{
    height: 424px;
    background-color: #ffa500d9;
}
#clients{
    height: 146px;
    background-color: #ffffffc7;
}
#service{
    height: 1499px;
    background-color: #008000eb;
}
#testimonals{
    height: 654px;
    background-color: #ffa500db;
}
#porto{
    height: 2155px;
    background-color: #ffffff73;
}
#team{
    height: 1099px;
    background-color: #008000ed;
}
#pricing{
    height: 981px;
    background-color: #ffa500db
}
#faq{
    height: 864px;
    padding: 60px 0;
}
#contact{
    height: 1325px;
    background-color: #008000e6;
}
#newsletter{
    height: 356px;
    background-color: #ffa500d6;
}
#footer{
    height: 508px;
    background-color: #ffffffb0;
}
#legals{
    height: 121px;
    background-color: #008000de;
}
#faq .container .section-title{
    text-align: center;
}
#faq .container .section-title h1{
    font-size: 21px;
    text-transform: uppercase;
    color: blue;
    margin: 31px 0 0 0;
    box-shadow: 0px 0px 0px 0px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 27px;
    background-color: #E7F1FD;
}
#faq .container .section-title h2{
    letter-spacing: 0.5px;
    font-size: 50px;
    font-weight: 700;
    margin: 30px 8px 0 0;
}
#faq .container .section-title spam{
    color: blue;
}
#faq .container .section-title p{
    margin: 30px 0 0 0;
    line-height: 33px;
    font-size: 29px;
}
#faq .container .section-content p{
    margin-left: 165px;
    margin-top: 60px;
    font-size: 25px;
    word-spacing: 2px;
    line-height: 31px;
}
#faq .container .section-content spam{
    color: blue;
    font-size: 32px;
    line-height: 28px;
}
}